body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #cde3fb;
}

header {
    background: #002a66;
    color: white;
    padding: 1rem 0;
    text-align: center;
	box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: -25px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem 1rem;
    max-width: 900px;
    margin: 0 auto;
}

.section {
    margin-bottom: 2rem;
}

h2 {
    color: red;
    margin-bottom: 1rem;
	font-size: 35px;
}

.card {
    background: #FAFAFA;
    border: 4px solid #ddd;
    border-radius: 15px;
    margin-bottom: 1rem;
    padding: 2rem;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
	margin-left: 60px;
	margin-right: 80px;
}

.card h3 {
    margin: 0;
    color: #080000;
}

footer {
    background: #002a66;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

   .leftimg {
    float:left; 
    margin: 7px 7px 7px 0;
   }
   .rightimg  {
    float: right;
    margin: 7px 0 7px 7px; 
   }
p{
	 font-size: 18px;
 }
.zauimave{
	align-content: space-between;
	margin-left: 90px;
}
.ind1{
	margin-left: 660px;
}
.ind2{
	margin-left: 100px;
}
.rest{
	margin-left: 130px;
}
.grek{
	margin-left: 180px;
}
.video{
	margin-left: 550px;
}
.skib{
	margin-left: 500px;
}
.goon{
	margin-left: 750px;
}
.cool_vid{
	display: flex; 
    justify-content: space-between; 
    align-items: center; 
    gap: 20px; 
    margin: 20px auto; 
    max-width: 1200px;
}
.zaulim{
	margin-left: 700px;
}